*{
    background-color: blanchedalmond;
    text-align: center;
}



  .animalImgContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 0 0;
  }
  .animalImgContainer img{
    margin: 0 10px 10px 0;
    width: 150px;
    height: 150px;
    border: solid #333 1px;
    /* when the image is too big, adjust */
    object-fit: cover;
  }
  .animalImgContainer img:hover{
    border: solid #333 5px;
    opacity: 0.8;
  }
  #nextBtn{
      
     color: rgb(128, 128, 128);
     border:none;
   
  }
.buttons{
  text-align: right;
}