*{
    background-color: blanchedalmond;
    text-align: center;
}

#playButton, #nextButton{
    min-width: 150px;
    height: 50px;
}
#playButton{
   border:none;
 color: green;
}

#nextButton{
    
   color: rgb(0, 100, 255);
   border:none;

}


img {
    height: 150px;
    border: solid #333 4px;
  }
  #restartButton{
    background-color: red;
    font-weight: 600;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .buttons{
    padding: 13px 0 0 0;
    display: flex;
    flex-wrap: wrap;
  }